In [1]:
import numpy as np
import pandas as pd
import pickle

from sklearn.linear_model import LogisticRegression
from catboost import CatBoostClassifier

In [2]:
X_train = pd.read_csv('X_train.csv')
y_train = pd.read_csv('y_train.csv')

In [3]:
X_train.head()

,topic_0,topic_1,topic_2,topic_3,topic_4,topic_5,topic_6,topic_7,topic_8,topic_9,...,topic_28,topic_29,topic_30,topic_31,topic_32,topic_33,topic_34,topic_35,topic_36,topic_37
0,0.0,0.0,0.000000,0.155872,0.0,0.0,0.000000,0.000000,0.000000,0.0,...,0.0,0.155871,0.155872,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.000000,0.107704,0.0,0.0,0.212758,0.000000,0.107635,0.0,...,0.0,0.000000,0.000000,0.213952,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.225145,0.000000,0.0,0.0,0.000000,0.225146,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
y_train.head()

   target
0      36
1      14
2      15
3      11
4       9

In [5]:
model = CatBoostClassifier(iterations=20, random_state=42, silent=True)

In [6]:
model.fit(X_train, y_train)

#### Сохраняем обученую модель Логистической регрессии

In [8]:
model_filename = 'final_model.sav'

with open(model_filename, 'wb') as file:
    pickle.dump(model, file)